@import "misc";

html {
    font-size: 16px;
    font-weight: 600;
}

body {
    background-color: #f3f8fb;
}

header {
    height: 54px;
    font-size: 1.2rem;

    nav {
        margin: 0;
        height: 100%;
    }

    #navbar-container {
        background-color: #f8f9fa;
        z-index: 999;
        padding-top: 5px;
        @media (max-width: 969px) {
            padding-bottom: 10px!important;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
    }
}

footer {
    background-color: #f8f9fa;
    border-top: solid 1px #c1bebe;

    .container {
        height: 100%;

        .row {
            height: 100%;
        }
    }
}

main {
    min-height: 750px;
}

.footer-link {
    font-size: 1.2rem;
    text-decoration: underline;
    color: black;

    &:hover {
        color: #0c63e4;
    }
}