@import "media-768";

label {
  font-size: 1rem;
  font-weight: 600;
}

.option-group {
  position: relative;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 4rem;
  margin: 0.2em auto;
  //  will-change: transform;
  transform: translateZ(0);
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 120%;
  height: 100%;
  margin: 0 -10%;
}

.option {
  overflow: hidden;
  flex: 1;
  display: block;
  padding: 0.5em;
  background: #f3f8fb;
  position: relative;
  margin: 0em;
  margin-right: 0.2em;

  &:last-child {
    margin-right: 0;
  }

  border-radius: 0.25em;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  cursor: pointer;

  opacity: 0.5;
  transition-duration: 0.8s, 0.6s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(.98, 0, .22, .98), linear;
  will-change: transform, opacity;
}

.option__indicator {
  display: block;
  transform-origin: left bottom;
  transition: inherit;
  will-change: transform;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: 0.5em;

  &:before,
  &:after {
    content: '';
    display: block;
    border: solid 2px #64D6EE;
    border-radius: 50%;
    width: 0.25em;
    height: 0.25em;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:after {
    background: #64D6EE;
    transform: scale(0);
    transition: inherit;
    will-change: transform;
  }
}

.option-input {
  position: absolute;
  top: 0;
  z-index: -1;
  visibility: hidden;
}

.option__label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;

  transform-origin: left bottom;
  transform: translateX(20%) scale(0.7);
  transition: inherit;
  will-change: transform;

  sub {
    margin-left: 0.25em;
    font-size: 0.4em;
    display: inline-block;
    vertical-align: 0.3em;
  }
}

.option:last-child {
  .option__label {
    transform: translateX(0%) scale(0.7);
  }

  .option__indicator {
    transform: translateX(-20%);
  }
}

.option-input:checked ~ .option {
  transform: translateX(-20%) translateX(0.2em);

  .option__indicator {
    transform: translateX(0%);
  }

  .option__label {
    transform: translateX(40%) scale(0.7);
  }
}

.option-input:first-child:checked ~ .option {
  transform: translateX(20%) translateX(-0.2em);

  .option__indicator {
    transform: translateX(-40%);
  }

  .option__label {
    transform: translateX(0%) scale(0.7);
  }
}

.option-input:nth-child(1):checked ~ .option:nth-of-type(1),
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) {
  opacity: 1;

  .option__indicator {
    transform: translateX(0);

    &::after {
      transform: scale(1);
    }
  }

  .option__label,
  .option__label::after {
    transform: scale(1);
  }
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #5562eb;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 24px;
      height: 24px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: -1px 0;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }

    .price {
      color: #198754;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: #54E0C7;
      border-color: #54E0C7;
    }

    .price {
      color: #f2e407!important;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.logo-img {
  width: 48px;
  height: 48px;
}