@media (max-width: 768px) {
  label {
    font-size: .8rem!important;
  }

  .inputGroup {
    label {
      padding: 12px 10px!important;

      &:after {
        right: 10px!important;
      }
    }
  }

  .logo-img {
    width: 20px!important;
    height: 20px!important;
  }
  .option__label {
    font-size: 1.2rem!important;
  }
}
