<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'DealTabs – Browser Tab Organizer'|trans }}{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{{ 'DealTabs is a simple and lightweight extension that allows you to save all tabs in open browser window. This way you can switch from project to project or between work and home tabs in a second, without having a mess of tabs and windows.'|trans }}{% endblock %}">
        <meta name="title" content="{% block metaTitle %}{{ 'DealTabs – Browser Tab Organizer'|trans }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('dealtabs-main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('dealtabs-main') }}
        {% endblock %}

        <script>
            LOCALE = '{{ app.request.locale }}';
            UI_HOST = '{{ env('DEALTABS_UI_HOST') }}';
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
