{% extends 'dealtabs/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dealtabs-payment-page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const CANCEL_SUBSCRIPTION_MESSAGE = '{{ 'You must cancel your previous subscription before processing!'|trans }}';
        const BILLING_CYCLE_MESSAGE = '{{ 'Billing cycle'|trans }}';
        const ONE_TIME_MONTH_MESSAGE = '{{ 'One-time (Month)'|trans }}';
        const ONE_TIME_YEAR_MESSAGE = '{{ 'One-time (Year)'|trans }}';
        const RECURRING_MONTH_MESSAGE = '{{ 'Recurring (Monthly)'|trans }}';
        const RECURRING_YEAR_MESSAGE = '{{ 'Recurring (Yearly)'|trans }}';
        const PAYMENT_TYPE_MESSAGE = '{{ 'Payment type'|trans }}';
        const GO_TO_CHECKOUT_MESSAGE = '{{ 'Go to checkout'|trans }}';
        const NEXT = '{{ 'Next'|trans }}';
        const BACK = '{{ 'Back'|trans }}';
        const PROCESS_PAYMENT = '{{ 'Process payment'|trans }}';
        const PROCESS_ALERT_1 = '{{ 'You are going to pay 2.49$ once. After payment confirmation you will be switched to premium account for 30 days.'|trans }}'
        const PROCESS_ALERT_2 = '{{ 'You are going to pay 22.99$ once. After payment confirmation you will be switched to premium account for 365 days.'|trans }}'
        const PROCESS_ALERT_3 = '{{ 'You are going to pay 2.29$ every month. After payment confirmation you will be switched to premium account for 30 days. Your subscription will renew automatically every 30 days until cancellation.'|trans }}'
        const PROCESS_ALERT_4 = '{{ 'You are going to pay 20.99$ every year. After payment confirmation you will be switched to premium account for 365 days. Your subscription will renew automatically every 365 days until cancellation.'|trans }}'
    </script>

    {{ encore_entry_script_tags('dealtabs-payment-page') }}
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm pt-0">
            <div class="container-fluid" id="navbar-container">
                <a class="navbar-brand d-flex align-items-center" href="{{ env('DEALTABS_SITE_HOST') }}">
                    <img src="{{ asset('favicon.ico') }}" alt="" width="24px" height="24px" class="d-inline-block align-top">
                    <span style="margin-left: 3px">DealTabs</span>
                </a>
                <button class="navbar-toggler mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% block nav_home %}{% endblock %}" aria-current="page" href="{{ env('DEALTABS_UI_HOST') }}">{{ 'Home'|trans }}</a>
                        </li>
                        <li class="nav-item dropdown dropstart {% block nav_docs %}{% endblock %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                ...{{ 'More'|trans }}
                            </a>
                            <ul class="dropdown-menu nav-locales" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a target="_blank" class="dropdown-item" href="{{ env('DEALTABS_SITE_HOST') ~ '/privacy-policy' }}">
                                        <span>{{ 'Privacy policy'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="dropdown-item" href="{{ env('DEALTABS_SITE_HOST') ~ '/terms-and-conditions' }}">
                                        <span>{{ 'Terms and conditions'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" class="dropdown-item" href="{{ env('DEALTABS_SITE_HOST') ~ '/refund-policy' }}">
                                        <span>{{ 'Refund policy'|trans }}</span>
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a target="_blank" class="dropdown-item" href="{{ env('DEALTABS_SITE_HOST') ~ '/contact-us' }}">
                                        <span>{{ 'Our contacts'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="mailto:webutonlabs@gmail.com">
                                        <span>{{ 'Write us an email'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                        <li class="nav-item dropdown dropstart">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.request.locale|upper }}
                            </a>
                            <ul class="dropdown-menu nav-locales" aria-labelledby="navbarDropdownMenuLink">
                                {% set locales = ['ru', 'en'] %}
                                {% for locale in locales %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params|merge({ _locale: locale })) }}">
                                            <img width="45px" height="32px" src="{{ asset('images/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}">
                                            <span style="margin-left: 20px;">{{ locale|upper }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-5 mb-3" id="payment-form-container"></div>
    </main>

    <footer>
        <div class="container">
            <div class="row justify-content-center text-center align-items-center mt-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-4 col-12 text-start mt-2">
                            <div>{{ 'Contact us'|trans }}:</div>
                            <div>Email: <a class="footer-link" href="mailto:webutonlabs@gmail.com">webutonlabs@gmail.com</a></div>
                        </div>
                        <div class="col-md-4 col-12 text-start mb-2 mt-2">
                            <div><a class="footer-link" href="{{ env('DEALTABS_SITE_HOST') ~ '/privacy-policy' }}">{{ 'Privacy policy'|trans }}</a></div>
                            <div><a class="footer-link" href="{{ env('DEALTABS_SITE_HOST') ~ '/terms-and-conditions' }}">{{ 'Terms and conditions'|trans }}</a></div>
                            <div><a class="footer-link" href="{{ env('DEALTABS_SITE_HOST') ~ '/refund-policy' }}">{{ 'Refund policy'|trans }}</a></div>
                        </div>
                        <div class="col-md-4 col-12 mb-1 mt-2">
                            <img class="img-fluid" src="{{ asset('images/fondy_logo_cards.png') }}">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-4 mt-3">
                        Copyright &copy;{{ ''|date('Y') }} {{ 'All rights reserved'|trans }}.
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}